* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

header {
    background-color: burlywood;

}

.header-main {
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #3398CC;

}

.navbar i {
    display: none;
}

.logo:hover {
    color: lightblue;
}

.navbar a {
    color: gray;
    text-decoration: none;
    padding: 10px 20px;  
    font-size: 20px;

}

.videos:hover {
    color: green;
    border-bottom: 3px solid black;

}

.photo:hover {
    color: green;
    border-bottom: 3px solid blue;
}

.about:hover {
    color: green;
    border-bottom: 3px solid red;
}

.contact:hover {
    color: green;
    border-bottom: 3px solid hotpink;
}

.hero-main{
        background-image: url("https://templatemo.com/templates/templatemo_556_catalog_z/img/hero.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 250px;
        display: flex;
        justify-content: center;    
        align-items: center;
}

.hero-main input {
    width: 300px;
    height: 40px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    color: lightgreen;
    outline: none;

}

.search-btn {
    background-color: #3398CC;
    color: white;
    border: none;
    padding: 13px 20px;
    cursor: pointer;
      

}
.search-btn:hover {
    background-color:green;
    color: white;

}

.latest-image-heading input{
    width: 50px;
    padding: 10px 5px;
    
}
.latest-image-main{
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;

}
.latest-image-heading{
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    color:green;
    margin: 15px;
}
.latest-image-container{
    display: flex;
    flex-wrap: wrap;
    width: 99%;
    margin: 10px auto;
    justify-content: space-around;
}
.image-pere{
    display: flex;
    justify-content: space-between ;
    color: lightgray;
    margin-top: 10px;

}
.latest-image-box img{
    width: 280px;


}
.image-btn{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.btn1{
    padding: 15px 30px;
    margin:0px 20px;
    color: white;
    background-color: #3398CC;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.btn2{
    padding: 15px 30px;
    margin:0px 20px;
    color: white;
    font-size: 15px;
    
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button1{
    background-color:  #3398CC;
}

button:hover{
    background-color: green;
}








@media screen and (max-width:376px) {

    header {
        position: relative;

    }
    .logo {
        font-size: 25px;
    }

    .navbar i {
        display: block;
        color:#3398CC;
        font-size: 25px;
    }


    nav {
        display: none;
        background-color: burlywood;
        width: 100%;
        position: absolute;
        top: 45px;
        right: 0px;
        padding: 10px 15px;

    }

    .navbar a {
        font-size: 20px;
        display: block;
        text-decoration: none;
    }

    nav.show {
        display: block;

    }

    .hero-main input {
        width: 200px;
        height: 30px;
        padding: 5px;
        font-size: 15px;
         
    }
    .hero-main {
        height: 130px;
    }

.search-btn {
        padding: 7px 13px;
        font-size: 15px;
    }


    
}