* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

header {
    background-color: burlywood;

}

.header-main {
    display: flex;
    justify-content: space-between;

    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #3398CC;

}

.navbar i {
    display: none;
}

.logo:hover {
    color: lightblue;
}

.navbar a {
    color: gray;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;

}

.videos:hover {
    color: green;
    border-bottom: 3px solid black;

}

.photo:hover {
    color: green;
    border-bottom: 3px solid blue;
}

.about:hover {
    color: green;
    border-bottom: 3px solid red;
}

.contact:hover {
    color: green;
    border-bottom: 3px solid hotpink;
}

.hero-main {
    background-image: url("https://templatemo.com/templates/templatemo_556_catalog_z/img/hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-main input {
    width: 300px;
    height: 40px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    color: lightgreen;
    outline: none;

}

.search-btn {
    background-color: #3398CC;
    color: white;
    border: none;
    padding: 13px 20px;
    cursor: pointer;


}

.search-btn:hover {
    background-color: green;
    color: white;

}

.latest-image-heading input {
    width: 50px;
    padding: 10px 5px;

}

.latest-image-main {
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;

}

.latest-image-heading {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    color: green;
    margin: 15px;
}

.latest-image-container {
    display: flex;
    flex-wrap: wrap;
    width: 99%;
    margin: 10px auto;
    justify-content: space-around;
}

.image-pere {
    display: flex;
    justify-content: space-between;
    color: lightgray;
    margin-top: 10px;

}

.latest-image-box img {
    width: 280px;


}

.image-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 50px;
}

.btn1 {
    padding: 15px 30px;
    margin: 0px 20px;
    color: white;
    background-color: #3398CC;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.btn2 {
    padding: 15px 30px;
    margin: 0px 20px;
    color: white;
    font-size: 15px;

    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button1 {
    background-color: #3398CC;
}

button:hover {
    background-color: green;
}


footer{
    background:#eeeeee;
    padding:50px 10%;
    font-family:Arial, Helvetica, sans-serif;
}

.footer-container{
    display:flex;
    justify-content:space-between;
    gap:70px;
    flex-wrap:wrap;
}

.footer-box{
    flex:1;
    min-width:250px;
}

.footer-box h2{
    color:#0097a7;
    font-size:30px;
    margin-bottom:30px;
}
.footer-links
{
    display:flex;
    flex-direction:column;
    gap:20px;
    font-size:10px;
}

.footer-box p{
    color:#888;
    font-size:20px;
    line-height:1.8;
}

.social-icons{
    display:flex;
    gap:20px;
    margin-bottom:50px;
}

.social-icons i{
    width:65px;
    height:65px;
    background:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#888;
    text-decoration:none;
    font-size:28px;

}

.social-icons i:hover{
    background:#0097a7;
    color:#fff;
}



.footer-links a{
    text-decoration:none;
    color:#888;
    font-size:20px;
    font-family:Arial, Helvetica, sans-serif;
}

.footer-links a:hover{
    color:#0097a7;
}

.footer-bottom{
    margin-top:80px;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    color:#888;
    font-size:22px;
}










@media screen and (max-width:376px) {

    header {
        position: relative;




    }

    .logo {
        font-size: 25px;
    }

    .navbar i {
        display: block;
        color: #3398CC;
        font-size: 25px;
    }


    nav {
        display: none;
        background-color: burlywood;
        width: 100%;
        position: absolute;
        top: 45px;
        right: 0px;
        padding: 10px 15px;

    }

    .navbar a {
        font-size: 20px;
        display: block;
        text-decoration: none;
    }

    nav.show {
        display: block;

    }

    .hero-main input {
        width: 200px;
        height: 30px;
        padding: 5px;
        font-size: 15px;

    }

    .hero-main {
        height: 130px;
    }

    .search-btn {
        padding: 7px 13px;
        font-size: 15px;
    }

      .image-btn {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 95%;
        margin: 0 auto;
        align-items: center;
        text-align: center;
        gap: 10px;
    }
    .btn4{
        display: none;
    }
    
    footer{
        margin-top:50px;
    }
    .footer-container{
        display:flex;
        flex-direction:column;
        gap:25px;
    }

    .footer-bottom{
        display:flex;
        flex-direction:column;
        gap:20px;
    }
}